@model IEnumerable<Feedback>

@{
    ViewData["Title"] = "Index";
    if (User.IsInRole("Owner"))
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Feedback Table</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                    <thead>
                        <tr class="text-nowrap">
                            <th style="width: 10%;">#</th>
                            <th style="width: 20%;">Account</th>
                            <th style="width: 20%;">Product</th>
                            <th style="width: 30%;">Comment</th>
                            <th style="width: 30%;">Star</th>
                            <th style="width: 30%;">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var feedback in Model){
                        <tr>
                            <th scope="row">@feedback.feedID</th>
                            <td>@feedback.customerID</td>
                            <td>@feedback.proID</td>
                            <td>@feedback.feedDescription</td>
                            <td>@feedback.StarRating</td>
                                @if(@feedback.feedUrlImage == null)
                                {
                                    <td><img src="~/image/noImage.jpg" style="width: 250px; height: 200px" /></td>
                                }else{
                                    <td><img src="~/Image/@feedback.feedUrlImage" style="width: 250px; height: 200px" /></td>

                                }
                         
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>