@{
    ViewData["Title"] = "Home Page";
    List<string> displayedCategories = new List<string>();
}
@model IEnumerable<Product>

<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/1.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/2.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/3.png"></div>
    </div>
</section>
<!-- Hero Section End -->
<section class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" style="border: inset;">
            <!-- Hiển thị tất cả category -->
            @foreach (var category in ViewBag.AllCategories)
            {
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img" style="max-width:500px; height:200px;">
                            <img src="~/Image/@category.cateUrlImage" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>@category.cateName<br>Collection</h3>
                            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>New product</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                @{
                    var topProducts = Model.Where(p => p.proStatus == "New").OrderByDescending(p => p.proDate).Take(6);
                }
                @foreach (var product in topProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div class="rating" id="rating-@product.proID">
                                    <i id="starContainer"></i>
                                </div>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (@product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div id="notification" style="display: none; position: fixed;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
	        z-index: 1000;" class="alert alert-success" role="alert">
                The product has been successfully added to the cart!
            </div>
            <div id="notification1" style="display: none; position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;" class="alert alert-danger" role="alert">
                This product is currently out of stock. Please choose another product!
            </div>
        </div>
    </section>

    <!-- Product Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Flash Deals</span>
                        <h2>Sale</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                @{
                    var saleProducts = Model.Where(p => p.proStatus == "Sale").OrderByDescending(p => p.proDate).Take(6);
                }
                @foreach (var product in saleProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (@product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Best selling</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter">
                @{
                    var topSoldProducts = Model.OrderByDescending(p => p.proQuantitySold).Take(6);
                }

                @foreach (var product in topSoldProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice" data-status="@product.proStatus">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="../cameraStoreLayout/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="../cameraStoreLayout/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.add-cart').on('click', function (e) {
                e.preventDefault();
                var controller = $(this).data('controller');
                var action = $(this).data('action');
                var customerId = $(this).data('customer-id');
                var productId = $(this).data('product-id');
                var quantity = $(this).data('quantity');
                var price = $(this).data('price');
                var productStatus = $(this).data('status');
                // Kiểm tra xem người dùng đã đăng nhập chưa
                var isAuthenticated = @(User.Identity.IsAuthenticated ? "true" : "false");

                if (!isAuthenticated) {
                    // Nếu chưa đăng nhập, chuyển hướng sang trang login
                    window.location.href = "/Authentication/Login";
                }
                else {
                    if (productStatus === "Sold out") {
                        // Hiển thị thông báo nếu sản phẩm đã hết hàng
                        $('#notification1').fadeIn().delay(1000).fadeOut();
                        return;
                    }

                    // Nếu đã đăng nhập, thực thi hàm addToCart
                    $.ajax({
                        url: '/' + controller + '/' + action,
                        type: 'POST',
                        data: {
                            customerId: customerId,
                            productId: productId,
                            quantity: quantity,
                            price: price
                        },
                        success: function (response) {
                            // Hiển thị thông báo khi thêm vào giỏ hàng thành công
                            $('#notification').fadeIn().delay(1000).fadeOut(); // Hiển thị div và sau đó ẩn nó sau 2 giây
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                            console.error('Lỗi: ' + error);
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.product__item').each(function () {
                var productId = $(this).find('.menu-link').data('product-id');
                var ratingContainer = $(this).find('.rating');

                $.ajax({
                    type: 'GET',
                    url: '/Feedback/CalculateAverageRating',
                    data: { proId: productId },
                    success: function (data) {
                        var averageRating = data.averageRating;
                        var feedbackAccountCount = data.feedbackAccountCount;
                        displayStars(averageRating, ratingContainer);
                    },
                    error: function () {
                        console.error('Error retrieving average rating');
                    }
                });

                function displayStars(rating, container) {
                    var starHtml = '';
                    for (var i = 1; i <= 5; i++) {
                        if (i <= rating) {
                            starHtml += '<i class="fa fa-star"></i>'; // Sao đầy
                        } else {
                            starHtml += '<i class="fa fa-star-o"></i>'; // Sao rỗng
                        }
                    }
                    container.html(starHtml);
                }
            });
        });
    </script>

</section>