@{
    ViewData["Title"] = "Home Page";
    List<string> displayedCategories = new List<string>();
}
@model IEnumerable<Product>

<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/1.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/2.png"></div>
        <div class="hero__items set-bg" data-setbg="../cameraStoreLayout/img/hero/3.png"></div>
    </div>
</section>
<!-- Hero Section End -->
<section class="section">
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>New product</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter" style="margin-left: 25px;">
                @{
                    var topProducts = Model.Where(p => p.proStatus == "New").OrderByDescending(p => p.proDate).Take(6);
                }
                @foreach (var product in topProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div class="rating" data-pro-id="@product.proID">
                                    <!-- 5 sao được đặt ẩn để tránh hiển thị trước khi thêm sao từ JavaScript -->
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                </div>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart1" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (@product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div id="notification1" style="display: none; position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;" class="alert alert-danger" role="alert">
                This product is currently out of stock. Please choose another product!
            </div>
        </div>
    </section>
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Flash Deals</span>
                        <h2>Sale</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter" style="margin-left: 25px;">
                @{
                    var saleProducts = Model.Where(p => p.proStatus == "Sale").OrderByDescending(p => p.proDate).Take(6);
                }
                @foreach (var product in saleProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div class="rating" data-pro-id="@product.proID">
                                    <!-- 5 sao được đặt ẩn để tránh hiển thị trước khi thêm sao từ JavaScript -->
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                </div>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (@product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Best selling</h2>
                    </div>
                </div>
            </div>
            <div class="row product__filter" style="margin-left: 25px;">
                @{
                    var topSoldProducts = Model.Where(p => p.proQuantitySold > 1).OrderByDescending(p => p.proQuantitySold).Take(6);
                }

                @foreach (var product in topSoldProducts)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                    <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                </a>
                                <span class="label">@product.proStatus</span>
                            </div>

                            <div class="product__item__text">
                                <h6>@product.proName</h6>
                                <div class="rating" data-pro-id="@product.proID">
                                    <!-- 5 sao được đặt ẩn để tránh hiển thị trước khi thêm sao từ JavaScript -->
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                    <i class="fa fa-star" style="display: none;"></i>
                                </div>
                                <div id="addToCartForm">
                                    <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice" data-status="@product.proStatus">
                                        + Add To Cart
                                    </a>
                                </div>
                                <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                                @if (product.proSale != null)
                                {
                                    <h5>$@product.proSale</h5>
                                }
                                else
                                {
                                    <h5>$@product.proPrice</h5>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.add-cart').on('click', function (e) {
                e.preventDefault();
                var controller = $(this).data('controller');
                var action = $(this).data('action');
                var customerId = $(this).data('customer-id');
                var productId = $(this).data('product-id');
                var quantity = $(this).data('quantity');
                var price = $(this).data('price');
                var productStatus = $(this).data('status');
                // Kiểm tra xem người dùng đã đăng nhập chưa
                var isAuthenticated = @(User.Identity.IsAuthenticated ? "true" : "false");

                if (!isAuthenticated) {
                    // Nếu chưa đăng nhập, chuyển hướng sang trang login
                    window.location.href = "/Authentication/Login";
                }
                else {
                    if (productStatus === "Sold out") {
                        // Hiển thị thông báo nếu sản phẩm đã hết hàng
                        $('#notification1').fadeIn().delay(1000).fadeOut();
                        return;
                    }

                    // Nếu đã đăng nhập, thực thi hàm addToCart
                    $.ajax({
                        url: '/' + controller + '/' + action,
                        type: 'POST',
                        data: {
                            customerId: customerId,
                            productId: productId,
                            quantity: quantity,
                            price: price
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.rating').each(function () {
                var productId = $(this).data('pro-id');
                var ratingContainer = $(this);

                $.ajax({
                    type: 'GET',
                    url: '/Feedback/Calc?proId=' + productId,
                    success: function (response) {
                        var averageRating = response.averageRating;
                        var starsHTML = '';

                        for (var i = 1; i <= 5; i++) {
                            if (i <= averageRating) {
                                starsHTML += '<i class="fa fa-star" style="color: orange; font-size: 20px;"></i>';
                            } else {
                                starsHTML += '<i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>';
                            }
                        }

                        // Thêm HTML của các sao vào trong phần tử rating
                        ratingContainer.append(starsHTML);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</section>