@model Tuple<Product, List<Product>>

@{
    ViewData["Title"] = "productDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Product detail</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="Home" asp-action="Store">Shop</a>
                        <span>Product detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <!-- Image Column -->
                <div class="col-lg-7 col-md-7">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="~/Image/@Model.Item1.proUrlImage" alt="" style="height:563px;width:700px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Description Column -->
                <div class="col-lg-5 col-md-5" style="background:#ffffff">
                    <div class="product__details__text">
                        <h3>@Model.Item1.proName.ToUpper()</h3>
                        @if (Model.Item1.proSale == Model.Item1.proPrice)
                        {
                            <h3 style="color:#ff0000">Price: $@Model.Item1.proSale</h3>
                        }
                        else
                        {
                            <h3 style="color:#ff0000">Price: @Model.Item1.proSale <span>$@Model.Item1.proPrice</span></h3>
                        }                        
                        <h4>Status: @Model.Item1.proStatus</h4>
                        <h4>Quantity: @Model.Item1.proQuantity</h4>
                        <h4>Sold: @Model.Item1.proQuantitySold</h4>
                        <div class="rating" id="productRating">
                            <!-- Các sao sẽ được thêm bởi JavaScript -->
                            <i id="starContainer"></i>
                            <span id="reviewCount" style="font-size: 20px;"></span>
                        </div>

                        <p>
                            @Model.Item1.proDescription
                        </p>
                        <a href="#tabs-5">Read More</a>
                        <div class="product__details__cart__option">
                            <div style="margin-bottom: 10px;">
                                <input type="number" id="quantityInput" value="1" min="0" max="@Model.Item1.proQuantity" onchange="updateHiddenQuantity()">
                            </div>
                            <div class="quantity">
                                <form id="addToCartForm" class="add-to-cart-form" method="post" action="@Url.Action("AddToCart", "Cart")">
                                    <input type="hidden" name="customerId" value="@User.Identity.Name" />
                                    <input type="hidden" name="productId" value="@Model.Item1.proID" />
                                    <input type="hidden" name="quantity" id="hiddenQuantity" value="1" />
                                    <input type="hidden" name="status" value="@Model.Item1.proStatus" />
                                    <input type="hidden" name="price" value="@Model.Item1.proPrice" />
                                    <button type="button" class="primary-btn" onclick="addToCart()">Add To Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notification" style="display: none; position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;" class="alert alert-success" role="alert">
        The product has been successfully added to the cart!
    </div>
    <div id="notification1" style="display: none; position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;" class="alert alert-danger" role="alert">
        This product is currently out of stock. Please choose another product!
    </div>

</section>
<section>
    <div class="product__details__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                    Feedback<span id="countFeedback"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="product__details__tab__content__item">
                                        <h5>Products Infomation</h5>
                                        <p>
                                            @Model.Item1.proDescription
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="row" style="border-radius: 20px;border: outset;margin-bottom: 10px;">
                                        <div class="col-lg-2 col-md-2 product-item-star" data-pro-id="@Model.Item1.proID" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <span id="feedbackValue" style="display: ruby-text"></span>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;display:none"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;display:none"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;display:none"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;display:none"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;display:none"></i>
                                        </div>
                                        <button class="col-lg-1 col-md-1 all-button" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <span style="display: ruby-text;">All star</span>
                                        </button>
                                        @{
                                            int starRatingCount1 = 0; // Khởi tạo biến đếm cho đánh giá sao có giá trị 1
                                            int starRatingCount2 = 0; // Khởi tạo biến đếm cho đánh giá sao có giá trị 2
                                            int starRatingCount3 = 0; // Khởi tạo biến đếm cho đánh giá sao có giá trị 3
                                            int starRatingCount4 = 0; // Khởi tạo biến đếm cho đánh giá sao có giá trị 4
                                            int starRatingCount5 = 0; // Khởi tạo biến đếm cho đánh giá sao có giá trị 5
                                        }

                                        @foreach (var item in Model.Item1.Feedbacks)
                                        {
                                            switch (item.StarRating) // Sử dụng switch để xác định giá trị đánh giá sao
                                            {
                                                case 1:
                                                    starRatingCount1++; // Tăng biến đếm cho đánh giá sao có giá trị 1
                                                    break;
                                                case 2:
                                                    starRatingCount2++; // Tăng biến đếm cho đánh giá sao có giá trị 2
                                                    break;
                                                case 3:
                                                    starRatingCount3++; // Tăng biến đếm cho đánh giá sao có giá trị 3
                                                    break;
                                                case 4:
                                                    starRatingCount4++; // Tăng biến đếm cho đánh giá sao có giá trị 4
                                                    break;
                                                case 5:
                                                    starRatingCount5++; // Tăng biến đếm cho đánh giá sao có giá trị 5
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                        <button class="col-lg-1 col-md-1 star-button" data-rating="1" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <span style="display: ruby-text;">@starRatingCount1</span>
                                        </button>
                                        <button class="col-lg-1 col-md-1 star-button" data-rating="2" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <span style="display: ruby-text;">@starRatingCount2</span>
                                        </button>
                                        <button class="col-lg-2 col-md-3 star-button" data-rating="3" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <span style="display: ruby-text;">@starRatingCount3</span>
                                        </button>
                                        <button class="col-lg-2 col-md-3 star-button" data-rating="4" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <span style="display: ruby-text;">@starRatingCount4</span>
                                        </button>
                                        <button class="col-lg-2 col-md-3 star-button" data-rating="5" style="text-align: center; border-radius: 20px; border: outset; background-color: transparent; cursor: pointer;">
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                            <span style="display: ruby-text;">@starRatingCount5</span>
                                        </button>
                                        
                                    </div>
                                    <div id="feedback-container" style="border: outset;">
                                        @foreach (var feedback in Model.Item1.Feedbacks)
                                        {
                                            <div class="col-12 feedback-item" data-rating="@feedback.StarRating" style="border: outset; border-radius: 15px; display: none;">
                                                <h5>@feedback.Customer.fullname</h5>
                                                <div class="rating">
                                                    @{
                                                        for (var i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= feedback.StarRating)
                                                            {
                                                                    <i class="fa fa-star" style="color: orange; font-size: 20px;"></i>
                                                            }
                                                            else
                                                            {
                                                                    <i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <p>@feedback.feedDescription</p>
                                                @if(feedback.feedUrlImage == null)
                                                {
                                                    <div>
                                                        <img src="" style="display:none">
                                                    </div>
                                                } else
                                                {
                                                    <div class="product__item__pic set-bg">
                                                        <img src="~/Image/@feedback.feedUrlImage" style="height: 200px;width: 200px;">
                                                    </div>
                                                }
                                            </div>
                                        }
                                        <div class="col-12" id="no-feedback" style="border: outset; border-radius: 15px;display: none;">
                                            No feedback
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var recommendedProduct in Model.Item2)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@recommendedProduct.proID">
                                <img src="~/Image/@recommendedProduct.proUrlImage" style="height:260px;width:300px" alt="">
                            </a>
                            <span class="label">@recommendedProduct.proStatus</span>
                        </div>

                        <div class="product__item__text">
                            <h6>@recommendedProduct.proName</h6>
                            <div class="starRating" data-pro-id="@recommendedProduct.proID">
                                <!-- 5 sao được đặt ẩn để tránh hiển thị trước khi thêm sao từ JavaScript -->
                                <i class="fa fa-star" style="display: none;"></i>
                                <i class="fa fa-star" style="display: none;"></i>
                                <i class="fa fa-star" style="display: none;"></i>
                                <i class="fa fa-star" style="display: none;"></i>
                                <i class="fa fa-star" style="display: none;"></i>
                            </div>
                            <div id="addToCartForm">
                                <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart" data-customer-id="@User.Identity.Name" data-product-id="@recommendedProduct.proID" data-quantity="1" data-price="@recommendedProduct.proPrice">
                                    + Add To Cart
                                </a>
                            </div>
                            <!-- Hiển thị giá trị proSale nếu có, ngược lại hiển thị giá trị proPrice -->
                            @if (@recommendedProduct.proSale != null)
                            {
                                <h5>$@recommendedProduct.proSale</h5>
                            }
                            else
                            {
                                <h5>$@recommendedProduct.proPrice</h5>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Related Section End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateHiddenQuantity() {
        var quantity = document.getElementById("quantityInput").value;
        document.getElementById("hiddenQuantity").value = quantity;
    }

    function addToCart() {
        updateHiddenQuantity();
        document.getElementById("addToCartForm").submit();
    }
</script>
<script>
    $(document).ready(function () {
        $('form.add-to-cart-form').submit(function (event) {
            // Ngăn chặn hành động gửi mặc định của form
            event.preventDefault();
            var isAuthenticated = @(User.Identity.IsAuthenticated ? "true" : "false");
            if (!isAuthenticated) {
                // Nếu chưa đăng nhập, chuyển hướng sang trang login
                window.location.href = "/Authentication/Login";
            } else {
                // Lấy giá trị của trạng thái sản phẩm
                var productStatus = $('input[name="status"]').val();

                if (productStatus === "Sold out") {
                    // Hiển thị thông báo nếu sản phẩm đã hết hàng
                    $('#notification1').fadeIn().delay(1000).fadeOut();
                    return;
                }

                var formData = $(this).serialize();

                // Gửi yêu cầu AJAX
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                        console.error(error);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        var proID = @Model.Item1.proID; // Lấy proID từ Model

        // Gửi yêu cầu AJAX để lấy giá trị trung bình của đánh giá
        $.ajax({
            type: 'GET',
            url: '/Feedback/CalculateAverageRating',
            data: { proId: proID }, // Điều chỉnh tên tham số thành 'proId' thay vì 'proID'
            success: function (result) {
                var averageRating = result.averageRating;
                var feedbackAccountCount = result.feedbackAccountCount;
                console.log("Average Rating:", averageRating); // In giá trị rating để kiểm tra
                console.log("Feedback Account Count:", feedbackAccountCount);
                displayStars(averageRating); // Hiển thị số sao tương ứng
                displayReviewCount(feedbackAccountCount); // Hiển thị số lượng người dùng đã feedback
            },
            error: function () {
                console.error('Error retrieving average rating');
            }
        });

        function displayStars(rating) {
            var starHtml = '';
            // Sử dụng Math.round() để làm tròn số sao đúng cách
            var roundedRating = Math.round(rating);
            for (var i = 1; i <= 5; i++) {
                if (i <= roundedRating) {
                    starHtml += '<i class="fa fa-star" style="color: orange; font-size: 20px;"></i>'; // Sao đầy
                } else {
                    starHtml += '<i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>'; // Sao rỗng
                }
            }
            $('#starContainer').html(starHtml);
        }

        function displayReviewCount(count) {
            $('#reviewCount').text(' - ' + count + ' Reviews');
        }
    });

</script>
<script>
    $(document).ready(function () {
        var proID = @Model.Item1.proID; // Lấy proID từ Model

        // Gửi yêu cầu AJAX để lấy giá trị trung bình của đánh giá
        $.ajax({
            type: 'GET',
            url: '/Feedback/countFeedback',
            data: { proId: proID }, // Điều chỉnh tên tham số thành 'proId' thay vì 'proID'
            success: function (result) {
                var feedbackAccountCount = result.feedbackCount;
                displayReviewCount(feedbackAccountCount); // Hiển thị số lượng người dùng đã feedback
            },
            error: function () {
                console.error('Error retrieving average rating');
            }
        });

        function displayReviewCount(count) {
            $('#countFeedback').text('(' + count + ')');
        }
    });

</script>
<script>
    $(document).ready(function () {
        // Đảm bảo bạn lặp qua từng phần tử rating để thực hiện AJAX cho mỗi sản phẩm
        $('.product-item-star').each(function () {
            var productItem = $(this);
            var productId = productItem.data('pro-id');

            $.ajax({
                type: 'GET',
                url: '/Feedback/Calc?proId=' + productId,
                success: function (response) {
                    var averageRating = response.averageRating;
                    var starsHTML = '';

                    for (var i = 1; i <= 5; i++) {
                        if (i <= averageRating) {
                            starsHTML += '<i class="fa fa-star" style="color: orange; font-size: 20px;"></i>';
                        } else {
                            starsHTML += '<i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>';
                        }
                    }

                    // Thêm HTML của các sao vào trong phần tử rating
                    $('#feedbackValue', productItem).html(averageRating + ' out of 5');
                    productItem.append(starsHTML);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Hiển thị tất cả các phản hồi khi trang được tải
        $(".feedback-item").show();

        // Xử lý sự kiện khi click vào các nút đánh giá sao
        $(".star-button").click(function () {
            var rating = $(this).data("rating");
            var foundFeedback = false; // Biến để kiểm tra xem có phản hồi nào hay không

            $(".feedback-item").hide(); // Ẩn tất cả các phản hồi

            // Hiển thị phản hồi có đánh giá sao tương ứng
            $(".feedback-item[data-rating='" + rating + "']").each(function () {
                $(this).show();
                foundFeedback = true; // Đặt biến thành true nếu có phản hồi được tìm thấy
            });

            // Nếu không tìm thấy phản hồi, hiển thị thông báo "No feedback"
            if (!foundFeedback) {
                $("#no-feedback").show();
            } else {
                $("#no-feedback").hide();
            }
        });

        // Xử lý sự kiện khi click vào nút "All star"
        $(".all-button").click(function () {
            $(".feedback-item").show(); // Hiển thị lại tất cả phản hồi
            $("#no-feedback").hide(); // Ẩn thông báo "No feedback" nếu đang hiển thị
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.starRating').each(function () {
            var productId = $(this).data('pro-id');
            var starRatingContainer = $(this);

            $.ajax({
                type: 'GET',
                url: '/Feedback/Calc?proId=' + productId,
                success: function (response) {
                    var averageRating = response.averageRating;
                    var starsHTML = '';

                    for (var i = 1; i <= 5; i++) {
                        if (i <= averageRating) {
                            starsHTML += '<i class="fa fa-star" style="color: orange; font-size: 20px;"></i>';
                        } else {
                            starsHTML += '<i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>';
                        }
                    }

                    // Thêm HTML của các sao vào trong phần tử rating
                    starRatingContainer.append(starsHTML);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>

