@model IEnumerable<Product>

@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Store</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Store</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <form id="filterForm" asp-controller="Home" asp-action="Store" method="get">
                                                    @foreach (var category in ViewBag.AllCategories)
                                                    {
                                                    <li>
                                                        <input type="checkbox" id="@("checkbox_" + category)" name="selectedCategories" value="@category" class="categoryCheckbox" onchange="submitForm()" />
                                                        <label for="@("checkbox_" + category)">@category</label>
                                                    </li>
                                                    }
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Status</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <form id="filterForm" asp-controller="Home" asp-action="Store" method="get">
                                                @foreach (var status in ViewBag.AllStatus)
                                                {
                                                    <li>
                                                        <input type="checkbox" id="@("checkbox_" + status)" name="selectedStatus" value="@status" onchange="this.form.submit()" />
                                                        <label for="@("checkbox_status_" + status)">@status</label>
                                                    </li>
                                                }
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                @foreach (var priceRange in GetPriceRanges((int)ViewBag.MaxPrice))
                                                {
                                                    <li>
                                                        <input type="checkbox" id="@("checkbox_" + priceRange)" />
                                                        <label for="@("checkbox_" + priceRange)">@priceRange</label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–10 of @ViewBag.TotalProducts results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price: </p>
                                <select id="sortByPrice" onchange="sortProducts()" >
                                    <option value="Recommended">Recommended</option>
                                    <option value="LowToHigh">Lowest price</option>
                                    <option value="HighToLow">Highest price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg">
                                    <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                        <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                    </a>
                                    <span class="label">@product.proStatus</span>
                                </div>
                                <div class="product__item__text">
                                    <h6>@product.proName</h6>
                                    <a asp-controller="Cart" asp-action="AddToCart" class="add-cart">+ Add To Cart</a>
                                    <h5>$@product.proPrice</h5>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <span>@i</span>
                                }
                                else
                                {
                                    <a asp-controller="HomeController" asp-action="Store" asp-route-page="@i" asp-route-priceRange="@ViewBag.PriceRange">@i</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
<script>
    @functions {
    List<string> GetPriceRanges(int maxPrice)
    {
        List<string> priceRanges = new List<string>();
        int range = 50;
        for (int i = 0; i <= maxPrice; i += range)
        {
            int end = Math.Min(i + range, maxPrice);
            string priceRange = "$" + i.ToString() + " - $" + end.ToString();
            priceRanges.Add(priceRange);
        }
        return priceRanges;
    }
}
</script>
<script>
    function sortProducts() {
        var sortByPrice = document.getElementById("sortByPrice").value;
        window.location.href = "/Home/Store?sortByPrice=" + sortByPrice;
    }
</script>
<script>
    function submitForm() {
        document.getElementById("filterForm").submit();
    }
</script>
