@model IEnumerable<Product>

@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Store</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Store</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section Begin --> 
<section>
<div class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                        <input id="searchInput" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        </div>

                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseCategories">Categories</a>
                                    </div>
                                    <div id="collapseCategories" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    @foreach (var category in ViewBag.AllCategories)
                                                    {
                                                        <li>
                                                            <input type="checkbox" id="@("checkbox_" + category)" name="selectedCategories" value="@category" class="categoryCheckbox" />
                                                            <label for="@("checkbox_" + category)">@category</label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseStatus">Status</a>
                                    </div>
                                    <div id="collapseStatus" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    @foreach (var status in ViewBag.AllStatus)
                                                    {
                                                        <li>
                                                            <input type="checkbox" id="@("checkbox_status_" + status)" name="selectedStatus" value="@status" class="statusCheckbox" />
                                                            <label for="@("checkbox_status_" + status)">@status</label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-10" style="border-style: outset;border-radius: 15px;">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–10 of @ViewBag.TotalProducts results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price: </p>
                                <select id="sortByPrice" onchange="sortProducts()" >
                                    <option value="Recommended">Recommended</option>
                                    <option value="LowToHigh">Lowest price</option>
                                    <option value="HighToLow">Highest price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row" id="productList">
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg">
                                        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@product.proID">
                                            <img src="~/Image/@product.proUrlImage" style="height:260px;width:300px" alt="">
                                        </a>
                                        <span class="label">@product.proStatus</span>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@product.proName</h6>
                                        <div class="rating" data-pro-id="@product.proID">
                                            <!-- 5 sao được đặt ẩn để tránh hiển thị trước khi thêm sao từ JavaScript -->
                                            <i class="fa fa-star" style="display: none;"></i>
                                            <i class="fa fa-star" style="display: none;"></i>
                                            <i class="fa fa-star" style="display: none;"></i>
                                            <i class="fa fa-star" style="display: none;"></i>
                                            <i class="fa fa-star" style="display: none;"></i>
                                        </div>
                                        <div id="addToCartForm">
                                            <a href="#" class="menu-link add-cart" data-controller="Cart" data-action="AddToCart1" data-customer-id="@User.Identity.Name" data-product-id="@product.proID" data-quantity="1" data-price="@product.proPrice">
                                                + Add To Cart
                                            </a>
                                        </div>
                                        @if (@product.proSale != null)
                                        {
                                            <h5>$@product.proSale</h5>
                                        }
                                        else
                                        {
                                            <h5>$@product.proPrice</h5>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                        @if (!Model.Any())
                        {
                            <div class="col-12">
                                <div class="no-data">
                                    No data
                                </div>
                            </div>
                        }
                    </div>
                    @{
                        int totalPages = ViewBag.TotalPages;
                        int currentPage = ViewBag.CurrentPage;
                    }
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                @for (int i = 1; i <= totalPages; i++)
                                {
                                    if (i == currentPage)
                                    {
                                        <span>@i</span>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="Store" asp-route-page="@i" asp-route-priceRange="@ViewBag.PriceRange">@i</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        <div id="notification1" style="display: none; position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;" class="alert alert-danger" role="alert">
            This product is currently out of stock. Please choose another product!
        </div>
    </div>
</div>
<!-- Shop Section End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    @functions {
    List<string> GetPriceRanges(int maxPrice)
    {
        List<string> priceRanges = new List<string>();
        int range = 50;
        for (int i = 0; i <= maxPrice; i += range)
        {
            int end = Math.Min(i + range, maxPrice);
            string priceRange = "$" + i.ToString() + " - $" + end.ToString();
            priceRanges.Add(priceRange);
        }
        return priceRanges;
    }
}
</script>
<script>
    function sortProducts() {
        var sortByPrice = document.getElementById("sortByPrice").value;
            $.ajax({
                url: "/Home/sortByPrice",
                type: "GET",
                data: {
                    sortByPrice: sortByPrice
                },
                success: function (data) {
                    $("#productList").html(data);
                }
            });
    }
</script>
<script>
        $(document).ready(function () {
            $(".statusCheckbox").change(function () {
                updateProductList();
            });

            function updateProductList() {
                var selectedStatus = $(".statusCheckbox:checked").val();

                // Check if no checkboxes are checked
                if (!selectedStatus) {
                    // Load all products
                    $.ajax({
                        url: "/Home/getFilterStatus",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            $("#productList").html(data);
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi khi tải sản phẩm.");
                        }
                    });
                } else {
                    // Load filtered products
                    $.ajax({
                        url: "/Home/getFilterStatus",
                        type: "GET",
                        data: {
                            selectedStatus: selectedStatus
                        },
                        success: function (data) {
                            $("#productList").html(data);
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi khi tải sản phẩm.");
                        }
                    });
                }
            }
        });
        $(document).ready(function () {
            $(".categoryCheckbox").change(function () {
                updateProductList();
            });

            function updateProductList() {
                var selectedCategories = [];
                $(".categoryCheckbox:checked").each(function () {
                    selectedCategories.push($(this).val());
                });
                var selectedCategoriesString = selectedCategories.join(',');
                // Check if no checkboxes are checked
                if (selectedCategories.length === 0) {
                    // Load all products
                    $.ajax({
                        url: "/Home/getFilterCategory",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            $("#productList").html(data);
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi khi tải sản phẩm.");
                        }
                    });
                } else {
                    // Load filtered products
                    $.ajax({
                        url: "/Home/getFilterCategory",
                        type: "GET",
                        data: {
                            selectedCategories: selectedCategoriesString, // Truyền array chứa các category được chọn
                        },
                        success: function (data) {
                            $("#productList").html(data);
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi khi tải sản phẩm.");
                        }
                    });
                }
            }
        });

    </script>
<script>
    $(document).ready(function () {
        $('.add-cart').on('click', function (e) {
            e.preventDefault();
            var controller = $(this).data('controller');
            var action = $(this).data('action');
            var customerId = $(this).data('customer-id');
            var productId = $(this).data('product-id');
            var quantity = $(this).data('quantity');
            var price = $(this).data('price');
            var productStatus = $(this).data('status');
            // Kiểm tra xem người dùng đã đăng nhập chưa
            var isAuthenticated = @(User.Identity.IsAuthenticated ? "true" : "false");

            if (!isAuthenticated) {
                // Nếu chưa đăng nhập, chuyển hướng sang trang login
                window.location.href = "/Authentication/Login";
            }
            else {
                if (productStatus === "Sold out") {
                    // Hiển thị thông báo nếu sản phẩm đã hết hàng
                    $('#notification1').fadeIn().delay(1000).fadeOut();
                    return;
                }

                // Nếu đã đăng nhập, thực thi hàm addToCart
                $.ajax({
                    url: '/' + controller + '/' + action,
                    type: 'POST',
                    data: {
                        customerId: customerId,
                        productId: productId,
                        quantity: quantity,
                        price: price
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.rating').each(function () {
            var productId = $(this).data('pro-id');
            var ratingContainer = $(this);

            $.ajax({
                type: 'GET',
                url: '/Feedback/Calc?proId=' + productId,
                success: function (response) {
                    var averageRating = response.averageRating;
                    var starsHTML = '';

                    for (var i = 1; i <= 5; i++) {
                        if (i <= averageRating) {
                            starsHTML += '<i class="fa fa-star" style="color: orange; font-size: 20px;"></i>';
                        } else {
                            starsHTML += '<i class="fa fa-star-o" style="color: orange; font-size: 20px;"></i>';
                        }
                    }

                    // Thêm HTML của các sao vào trong phần tử rating
                    ratingContainer.append(starsHTML);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
<script>
        $(document).ready(function () {
            // Lắng nghe sự kiện khi người dùng nhập vào input
            $("#searchInput").on("input", function () {
                // Lấy giá trị nhập vào input
                var searchQuery = $(this).val().trim();

                // Kiểm tra nếu input rỗng thì gọi hàm hiển thị tất cả sản phẩm
                if (searchQuery === "") {
                    showAllProducts();
                } else {
                    // Gọi action searchByName của Home Controller bằng AJAX
                    searchProductsByName(searchQuery);
                }
            });
        });

        function showAllProducts() {
            // Gửi request AJAX để hiển thị tất cả sản phẩm
            $.ajax({
                type: "POST",
                url: "/Home/searchByName",
                data: { searchQuery: "" }, // Gửi một searchQuery rỗng
                success: function (response) {
                    // Nạp dữ liệu sản phẩm vào phần tử chứa
                    $("#productList").html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Request failed. Status: " + status);
                }
            });
        }

        function searchProductsByName(searchQuery) {
            // Gửi request AJAX
            $.ajax({
                type: "POST",
                url: "/Home/searchByName",
                data: { searchQuery: searchQuery },
                success: function (response) {
                    // Nạp dữ liệu sản phẩm vào phần tử chứa
                    $("#productList").html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Request failed. Status: " + status);
                }
            });
        }

</script>
</section>