@model IEnumerable<CameraStore.Models.OrderDetail>

@{
    ViewData["Title"] = "View detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>View order detail</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="OrderDetail" asp-action="viewOrder">View order</a>
                        <span>View order detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="border-radius: 10px;">
                    @foreach (var item in Model)
                    {
                        var orderId = item.Order.orderID;
                        <div class="card-header px-4 py-2">
                            <h5 class="text-muted mb-0">OrderID:<span style="color: #a8729a;">@item.orderID</span>!</h5>
                        </div>
                        <div class="container py-5 h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col">

                                    <div class="card card-stepper" style="border-radius: 10px;">
                                        <div class="card-body p-4">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-column">
                                                    <span class="lead fw-normal">Order information</span>
                                                    <span class="text-muted small">Full name: @item.Order.orderFullname</span>
                                                    <span class="text-muted small">Address: @item.Order.orderAddress</span>
                                                    <span class="text-muted small">Telephone: @item.Order.orderPhone </span>
                                                    <span class="text-muted small">Payment method: @item.Order.paymentMethod</span>
                                                </div>
                                            </div>
                                            <hr class="my-4">

                                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                                @if (!item.Order.orderStatus)
                                                {
                                                    <span class="d-flex justify-content-center align-items-center big-dot dot">
                                                        <i class="fa fa-check text-white"></i>
                                                    </span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                }
                                                else if (DateTime.Today.Date >= item.Order.orderDelivery.Date)
                                                {
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="d-flex justify-content-center align-items-center big-dot dot">
                                                        <i class="fa fa-check text-white"></i>
                                                    </span>
                                                }
                                                else if (item.Order.orderStatus && item.Order.IsShipped)
                                                {
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="d-flex justify-content-center align-items-center big-dot dot">
                                                        <i class="fa fa-check text-white"></i>
                                                    </span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                }
                                                else if (item.Order.orderStatus && !item.Order.IsShipped)
                                                {
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="d-flex justify-content-center align-items-center big-dot dot">
                                                        <i class="fa fa-check text-white"></i>
                                                    </span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                }
                                                else
                                                {
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                    <hr class="flex-fill track-line">
                                                    <span class="dot"></span>
                                                }
                                            </div>
                                            <div class="d-flex flex-row justify-content-between align-items-center">
                                                <div class="d-flex flex-column align-items-start">
                                                    <span>Order process</span>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <span>
                                                        Order Shipped
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <span>Order En Route</span>
                                                </div>
                                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                                            </div>
                                            @if (DateTime.Today.Date >= item.Order.orderDelivery.Date)
                                            {
                                                if (@item.Order.IsDelivered == false)
                                                {
                                                    <button class="receivedButton btn btn-success" style="margin-left: 82%; width: 200px;" data-order-id="@item.Order.orderID">
                                                        Received
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-success" onclick="openForm(@item.Order.orderID);checkSubmit(@item.Order.orderID)" style="margin-left: 82%; width: 200px;">
                                                        Feedback
                                                    </button>
                                                    <div class="form-popup" id="myForm">
                                                        <form id="feedbackForm" asp-action="Create" asp-controller="Feedback" method="post" class="form-container" enctype="multipart/form-data">
                                                            <input type="hidden" id="orderId" name="orderId" value="" />
                                                            <h1>Feedback</h1>
                                                            <label for="fullname"><b>Full Name</b></label>
                                                            <input type="text" id="fullname" name="Fullname" value="@item.Order.orderFullname" readonly class="form-control" data-fullname="@item.Order.orderFullname" />

                                                            <div class="ratings-wrapper" style="color:orange">
                                                                <select id="ddlRate" class="form-select" onchange="updateHiddenInput()">
                                                                    <option value="5" selected>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                                                    <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                                                                    <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                                                                    <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                                                                    <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                                                                </select>
                                                                <input type="hidden" id="starRating" name="starRating">
                                                            </div>

                                                            <div>
                                                                <label for="uploadProDes" class="form-label" style="margin-top: 10px;">Please give us feedback about the product</label>
                                                                <textarea id="uploadProDes" name="feedDescription" class="form-control" rows="3" required></textarea>
                                                            </div>

                                                            <div class="mb-3">
                                                                <!-- Thêm input để chọn file hình ảnh -->
                                                                <input type="file" onchange="chooseFile(this)" style="width: 100%;margin-top:10px" id="feedImage" name="feedImage" accept="image/gif, image/jpeg, image/png" class="form-control" />
                                                                <div>
                                                                    <img id="image" src="" style="margin-top: 10px;width: 200px;height: 200px;" alt="Feedback Image">
                                                                </div>
                                                                <span class="text-danger"></span>
                                                            </div>
                                                            
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                                                        </form>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <button class="btn btn-success" disabled style="margin-left: 82%; width: 200px;">
                                                    Received
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div class="shopping__cart__table">
                                    <table>
                                        <tr>
                                            <th style="width: 30%;">Product</th>
                                            <th style="text-align: center;width: 10%;">Quantity</th>
                                            <th style="text-align: center;width: 10%;">Total</th>
                                            <th style="text-align: center;width: 10%;">Order date</th>
                                            <th style="text-align: center;width: 17%">Estimated delivery date</th>
                                            <th style="width: 5%;text-align: center;">Status</th>
                                        </tr>
                                        <tbody>
                                            <tr>
                                                <td class="product__cart__item" style="width: 30%;">
                                                    <div class="product__cart__item__pic">
                                                        <a class="menu-link" asp-area="" asp-controller="Home" asp-action="productDetail" asp-route-id="@item.proID">
                                                            <img src="~/Image/@item.Product.proUrlImage" style="width: 150px; height: 100px">
                                                        </a>
                                                    </div>
                                                    <div class="product__cart__item__text">
                                                        <h6>@item.Product.proName</h6>
                                                    </div>
                                                </td>
                                                <td class="quantity__item" style="text-align: center;width: 8%;">
                                                    <h5 style="text-align: center;">@item.quantity</h5>
                                                </td>
                                                <td class="cart__price" style="text-align: center; width: 10%; ">
                                                    @item.unitPrice
                                                </td>
                                                <td class="cart__close" style="
                                                   text-align: center;
                                                   width: 10%;
                                                                   ">
                                                    @item.Order.orderDate
                                                </td>
                                                <td class="cart__close" style="text-align: center;width: 17%"> @item.Order.orderDelivery.ToString("dd/MM/yyyy")</td>
                                                <td class="cart__close" style=" width: 5%; text-align: center;">
                                                    @if (@item.Order.orderStatus == false)
                                                    {
                                                        <button class="btn btn-dark">Pending</button>
                                                    }
                                                    else if (@item.Order.orderStatus == true && @item.Order.IsShipped == true && @item.Order.IsDelivered == true)
                                                    {
                                                        <button class="btn btn-success">Delivered</button>
                                                    }
                                                    else if (@item.Order.orderStatus == true && @item.Order.IsShipped == true)
                                                    {
                                                        <button class="btn btn-primary">EnRoute</button>
                                                    }
                                                    else if (@item.Order.orderStatus == true && @item.Order.IsShipped == false)
                                                    {
                                                        <button class="btn btn-warning">Confirmed</button>
                                                    }

                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="7">
                                                    @if(item.Order.paymentMethod == "creditCard")
                                                    {
                                                        <div class="d-flex justify-content-between pt-2">
                                                            <p class="fw-bold mb-0">Order has been paid successfully</p>
                                                        </div>
                                                    }else{
                                                        @if (@item.Order.orderStatus == true && @item.Order.IsShipped == true && @item.Order.IsDelivered == true)
                                                        {
                                                            <div class="d-flex justify-content-between pt-2">
                                                                <p class="fw-bold mb-0">Order has been paid successfully</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="d-flex justify-content-between pt-2">
                                                                <p class="fw-bold mb-0">Please pay @item.Order.totalAmount when receiving goods</p>
                                                            </div>
                                                        }
                                                    }

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".receivedButton").on("click", function () {
            var orderId = $(this).data("order-id");

            // Thực hiện yêu cầu AJAX
            $.ajax({
                url: '/Order/Received',
                type: 'GET',
                data: { orderId: orderId }
            }).done(function (response) {
                // Xử lý kết quả thành công
                if (response.success) {
                    // Hiển thị thông báo Notyf
                    toastr.success(response.message, 'Notification', { timeOut: 300 });
                }
            });
        });
    });
</script>
<script>
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var render = new FileReader();

            render.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }
            render.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
<script>
    function openForm(orderId) {
        document.getElementById("myForm").style.display = "block";
        document.getElementById("orderId").value = orderId; // Set giá trị orderId vào input hidden trong form
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
<script>
    function updateHiddenInput() {
        const selectElement = document.getElementById('ddlRate');
        const selectedOption = selectElement.options[selectElement.selectedIndex].value;
        document.getElementById('starRating').value = selectedOption;
    }
    function submitFeedback() {
        const fullname = document.getElementById('fullname').value;
        const feedDescription = document.getElementById('uploadProDes').value;
        const feedImage = document.getElementById('feedImage').files[0]; // Lấy file hình ảnh
        const orderId = document.getElementById('orderId').getAttribute('data-orderid');
        updateHiddenInput();

        const StarRating = document.getElementById('starRating').value;

        const formData = new FormData();
        formData.append('fullname', fullname);
        formData.append('feedDescription', feedDescription);
        formData.append('feedImage', feedImage);
        formData.append('StarRating', StarRating);
        formData.append('orderId', orderId);

        $.ajax({
            type: 'POST',
            url: '/Feedback/Create',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false
        }).done(function (response) {
            // Xử lý kết quả thành công
            if (response.success) {
                // Hiển thị thông báo Notyf
                toastr.success(response.message, 'Notification', { timeOut: 300 });
            }
        }).fail(function (xhr, status, error) {
            // Xử lý lỗi
            console.error(xhr.responseText);
        });
    }
    function updateStarOptions(stars) {
        const selectElement = document.getElementById('ddlRate');
        stars.forEach(function (star) {
            const option = document.createElement('option');
            option.value = star.value;
            option.textContent = star.label;
            selectElement.appendChild(option);
        });
    }
    function checkSubmit(orderId) {
        // Gửi yêu cầu AJAX để kiểm tra xem feedback đã được submit chưa
        $.ajax({
            type: 'GET',
            url: '/Feedback/CheckSubmit',
            data: { orderId: orderId },
            success: function (response) {
                if (response.success) {
                    const feedback = response.feedback;
                    const fullname = document.getElementById('fullname').dataset.fullname;
                    document.getElementById('fullname').value = fullname;
                    document.getElementById('uploadProDes').value = feedback.feedDescription;

                    if (response.feedImageUrl) { // Sử dụng feedImageUrl từ phản hồi
                        document.getElementById('image').src = response.feedImageUrl;
                        document.getElementById('image').style.display = 'block';
                    }
                    document.getElementById('ddlRate').value = feedback.starRating.toString();
                    displayStars(feedback.starRating); // Hiển thị số sao tương ứng
                    document.getElementById('submitButton').style.display = 'none'; // Ẩn nút submit
                    document.getElementById('submitForm').style.display = 'block'; // Hiển thị lại form submit
                } else {
                    // Chỉ gọi hàm submitFeedback() khi không có phản hồi thành công
                    submitFeedback();
                }
            },
            error: function () {
                // Trường hợp có lỗi hoặc không có phản hồi, gọi lại hàm create
                submitFeedback(); // Gọi lại hàm create
            }
        });
    }

    function displayStars(rating) {
        const starWrapper = document.querySelector('.ratings-wrapper');

        // Xóa bỏ các sao hiện tại (nếu có)
        while (starWrapper.firstChild) {
            starWrapper.removeChild(starWrapper.firstChild);
        }

        // Tạo và thêm các sao mới
        for (let i = 1; i <= 5; i++) {
            const star = document.createElement('span');
            if (i <= rating) {
                star.innerHTML = '&#9733;'; // Ký tự sao
            } else {
                star.innerHTML = '&#9734;'; // Ký tự sao rỗng
            }
            starWrapper.appendChild(star);
        }
    }
</script>


