@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Supplier Table</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Telephone</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var supplier in Model){
                        <tr>
                            <th scope="row">@supplier.supID</th>
                            <td>@supplier.supName</td>
                            <td>@supplier.supDescription</td>
                            <td>@supplier.supTelephone</td>
                            <td>@supplier.supAddress</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-controller="Supplier" asp-action="detailSup" asp-route-id="@supplier.supID"><i class="bx bx-book-alt me-1"></i> View Detail</a>

                                            <a class="dropdown-item" asp-controller="Supplier" asp-action="Edit" asp-route-id="@supplier.supID"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@supplier.supID" onclick="return confirm('Are you sure?');">
                                                <i class="bx bx-trash me-1"></i> Delete
                                            </a>
                                        </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="buy-now">
    <a asp-controller="Supplier" asp-action="Create"
       class="btn btn-primary btn-buy-now">Add new Supplier</a>
</div>