@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Product Table</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Price sale</th>
                            <th>Percent sale</th>
                            <th>Status</th>
                            <th>Supplier</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var product in Model){
                        <tr>
                            <th scope="row">@product.proID</th>
                            <td>@product.proName</td>
                            <td><img src="~/Image/@product.proImage" style="width: 100px; height: 100px" /></td>
                            <td>@product.proDescription</td>
                            <td>@product.proPrice</td>
                            <td>@product.proSale</td>
                            <td>@product.proStatus</td>
                            <td>@product.supID</td>
                            <td>@product.cateID</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Product" asp-action="Edit"><i class="bx bx-edit-alt me-1"></i> Update</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="buy-now">
    <a asp-controller="Product" asp-action="Create"
       class="btn btn-primary btn-buy-now">Add new Product</a>
</div>